.selectedPage {
    font-weight: bold;
    background: #ccc;
}

.pagination {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.pagination span {
    padding: 10px;
    cursor: pointer;
}

.pagination span:hover {
    background: #ccc;
}